.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/ProjectTest/FileContentIndex/c048a461-5abb-4b17-8807-3eecec302928.vsidx
.vs/ProjectTest/FileContentIndex/read.lock
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/112bc8c5-e9b5-461a-a0ee-d3d6fa056a35.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/read.lock
ConsoleApp1/.vs/ConsoleApp1/v17/.futdcache.v1
ConsoleApp1/.vs/ConsoleApp1/v17/.suo
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.metadata.v2
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.projects.v2
.vs/ProjectTest/FileContentIndex/8e9e19fb-588c-4d74-9ce1-45fcd28ec7ff.vsidx
.vs/ProjectTest/FileContentIndex/46aa0619-7975-4b12-8bb5-fdf1312e746c.vsidx
.vs/
